body {
    background-image: url("./neon.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto Mono', monospace;
}

h1 {
    color: white;
    font-size: 100px;
}

input {
    padding: 8px 16px 0;
    width: 20%;
    height: 70px;
    border-radius: 12px;
    border: none;

    font-size: 30px;
    text-overflow: ellipsis;
    font-family: 'Roboto Mono', monospace;
    color: #6654FF;

    background: #FFF;
    box-shadow: 4px 4px 8px 0 #6654FF50 inset;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: #6654FF50;
}

button {
    margin-top: 100px;
    background-color: purple;
    border-radius: 60px;
    width: 500px;
    height: 100px;
    color: white;
    font-size: 50px;
    font-family: 'Roboto Mono', monospace;
}